.state {
    -fx-background-color: white;
    -fx-background-insets: 1px;
    -fx-background-radius: 15px;

    -fx-border-color: black;
    -fx-border-width: 5px;
    -fx-border-radius: 15px;
}

.title-area {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.actions-area {
    -fx-background-color: white;
    -fx-background-radius: 10px;

    -fx-border-color: black;
    -fx-border-width: 5px 0px 0px 0px;
}

